<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net452" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="CsvHelper" version="2.14.1" targetFramework="net452" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.11.1" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net452" />
  <package id="YamlDotNet.Dynamic" version="3.2.3" targetFramework="net452" />
</packages>